.section-watches {
  height: 155vh;
  padding: 20vh 0;
  flex-direction: column;
  position: relative;

  &__watch {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__control {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(221, 221, 221, 0.4);
    border-radius: 40px;

    & i {
      font-size: 1.5rem;
      color: $color-primary;
    }
  }

  &__btn {
    position: absolute;
    background-color: $color-black;
    color: $color-primary;
    border: 1px dashed $color-white;
    border-radius: 40px;
    font-weight: 200;
    cursor: pointer;

    @include lg-min {
      font-size: 1rem;
      right: 25%;
      bottom: 30vh;
      width: 130px;
      height: 50px;
    }

    @include lg-md {
      font-size: 0.9rem;
      right: 20%;
      bottom: 30vh;
      width: 100px;
      height: 40px;
    }

    @include md-xs {
      font-size: 0.8rem;
      right: 15%;
      bottom: 30vh;
      width: 80px;
      height: 30px;
    }

    @include xs {
      font-size: 0.8rem;
      right: 20%;
      bottom: 50vh;
      width: 80px;
      height: 40px;
    }
  }
}

.section-watches__watch > div {
  position: absolute;
}

.watch-bands {
  transition: margin-right 1s;
  &__img {
    width: 350px;
    height: 350px;
    object-fit: contain;

    & img {
      max-width: 100%;
      height: auto;
    }
  }
}

.watch-case {
  flex-direction: column;
  transition: margin-top 1s;
  &__img {
    width: 350px;
    height: 350px;
    object-fit: contain;

    & img {
      max-width: 100%;
      height: auto;
    }
  }
}

.watch-top-control {
  top: 22vh;
  left: 50%;
  transform: translateX(-50%);
}

.watch-right-control {
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

.watch-bottom-control {
  bottom: 20vh;
  left: 50%;
  transform: translateX(-50%);
}

.watch-left-control {
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

.hideControl {
  opacity: 0;
  visibility: hidden;
}