.section-macbook {
  width: 100%;
  height: 100%;
  background-color: $color-black;
  flex-direction: column;
  padding: 150px 0;
  clip-path: polygon(61% 0%, 100% 0%, 100% 97%, 46% 100%, 1% 100%, 0% 3%);

  &__heading {
    font-weight: 200;
    color: $color-primary;

    @include xxl-min {
      font-size: 9rem;
      margin-bottom: 150px;
    }

    @include xxl-ul {
      font-size: 9rem;
      margin-bottom: 130px;
    }

    @include ul-lg {
      font-size: 8rem;
      margin-bottom: 130px;
    }

    @include lg-md {
      font-size: 6rem;
      margin-bottom: 120px;
    }

    @include md-xs {
      font-size: 4rem;
      margin-bottom: 100px;
    }

    @include xs {
      font-size: 3rem;
      margin-bottom: 100px;
    }
  }

  &__content {
    width: 80%;
    flex-direction: column;
    perspective: 16000px;

    & img {
      width: inherit;
    }
  }
}

.macbook-img-1 {
  transform: rotateX(-80deg);
  transform-origin: bottom;
}

.change .macbook-img-1 {
  transform: rotateX(0);
  transition: transform 3s;
}

.loading-wrapper {
  position: absolute;
  top: 6%;
  width: 60%;
  height: 85%;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('../img/macbook/macbook-1-desktop.png')  center no-repeat;
  z-index: -1;
  opacity: 0;
}

.change .loading-wrapper {
  opacity: 1;
  transition: opacity 1s 2s;
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-black;
  flex-direction: column;

  & i {
    color: $color-white;

    @include xxl-min {
      font-size: 10rem;
      margin-bottom: 20px;
    }

    @include xxl-xl {
      font-size: 6rem;
      margin-bottom: 20px;
    }

    @include xl-lg {
      font-size: 5rem;
      margin-bottom: 20px;
    }

    @include lg-md {
      font-size: 4.5rem;
      margin-bottom: 20px;
    }

    @include md-xs {
      font-size: 3.5rem;
      margin-bottom: 15px;
    }

    @include xs {
      font-size: 1.7rem;
      margin-bottom: 10px;
    }
  }


}

.change .loading {
  opacity: 0;
  transition: 1s 5s;
}

.progress-bar {
  background-color: #888;
  border-radius: 80px;
  position: relative;

  @include xxl-min {
    width: 300px;
    height: 5px;
  }

  @include xxl-xl {
    width: 250px;
    height: 5px;
  }

  @include xl-lg {
    width: 220px;
    height: 4px;
  }

  @include lg-md {
    width: 180px;
    height: 4px;
  }

  @include md-xs {
    width: 150px;
    height: 4px;
  }

  @include xs {
    width: 70px;
    height: 2px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: $color-white;
  }
}

.change .progress-bar::after {
  width: 100%;
  transition: width 1s 3s;
}

.macbook-info {
  position: absolute;
  max-width: 1120px;
  text-align: center;
  opacity: 0;

  &__heading {
    color: $color-primary;
    font-weight: 400;

    @include xxl-min {
      font-size: 5rem;
    }

    @include xxl-xl {
      font-size: 3rem;
    }

    @include xl-lg {
      font-size: 2.5rem;
    }

    @include lg-md {
      font-size: 2rem;
    }

    @include md-xs {
      font-size: 1.3rem;
    }

    @include xs {
      font-size: 1rem;
    }
  }

  &__price {
    font-weight: 200;

    @include xxl-min {
      font-size: 2.5rem;
      margin: 30px 0;
    }

    @include xxl-xl {
      font-size: 2rem;
      margin: 20px 0;
    }

    @include xl-lg {
      font-size: 1.7rem;
      margin: 20px 0;
    }

    @include lg-md {
      font-size: 1.4rem;
      margin: 20px 0;
    }

    @include md-xs {
      font-size: 1rem;
      margin: 15px 0;
    }

    @include xs {
      font-size: 0.7rem;
      margin: 5px 0;
    }
  }

  &__btn {
    background-image: linear-gradient(#ddd, #fff);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff;
    font-weight: 500;
    
    color: $color-primary;
    cursor: pointer;

    @include xxl-min {
      width: 250px;
      height: 50px;
      font-size: 1rem;
      letter-spacing: 0.2rem;
    }

    @include xxl-xl {
      width: 200px;
      height: 40px;
      font-size: 0.9rem;
      letter-spacing: 0.2rem;
    }

    @include xl-lg {
      width: 180px;
      height: 35px;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
    }

    @include lg-md {
      width: 150px;
      height: 30px;
      font-size: 0.7rem;
      letter-spacing: 0.1rem;
    }

    @include md-xs {
      width: 100px;
      height: 30px;
      font-size: 0.6rem;
      letter-spacing: 0.1rem;
    }

    @include xs {
      width: 50px;
      height: 15px;
      font-size: 0.5rem;
      letter-spacing: 0;
    }
  }
}

.change .macbook-info {
  opacity: 1;
  transition: opacity 1s 6s;
}