.section-airpods {
  width: 100%;
  height: 100vh;

  &__content {
    width: 90%;
    height: 80%;
    display: flex;
    position: relative;

    & img {
      object-fit: contain;

      @include md-min {
        width: 50%;
        height: 100%;
      }

      @include md {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 300;
    color: $color-white;
    text-shadow: 1px 1px 0 #999;

    @include xxl-min {
      font-size: 15rem;
      top: -100px;
    }

    @include xxl-xl {
      font-size: 12rem;
      top: -40px;
    }

    @include xl-lg {
      font-size: 10rem;
      top: -30px;
    }

    @include lg-md {
      font-size: 8rem;
      top: -10px;
    }

    @include md-xs {
      font-size: 5.7rem;
      top: -10px;
    }

    @include xs {
      font-size: 4rem;
      top: 0;
    }
  }


  &__img1 {
    @include md {
      display: none;
    }
  }

  &__img2 {
    background-color: $color-primary;
  }

  &__buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 80px;
  }
}

.airpods-btn {
  background-color: $color-primary;
  border: none;
  color: $color-white;
  cursor: pointer;

  @include xxl-min {
    width: 220px;
    height: 60px;
    font-size: 1.2rem;
    margin: 0 30px;
    border-radius: 8px;
  }

  @include xxl-xl {
    width: 180px;
    height: 50px;
    font-size: 1.2rem;
    margin: 0 30px;
    border-radius: 8px;
  }

  @include xl-lg {
    width: 160px;
    height: 40px;
    font-size: 1rem;
    margin: 0 30px;
    border-radius: 7px;
  }

  @include lg-md {
    width: 140px;
    height: 30px;
    font-size: 0.9rem;
    margin: 0 10px;
    border-radius: 6px;
  }

  @include md-xs {
    width: 90px;
    height: 20px;
    font-size: 0.7rem;
    margin: 0 0;
    border-radius: 5px;
    &:first-child {
      background-color: $color-white;
      color: $color-primary;
    }
  }

  @include xs {
    width: 60px;
    height: 20px;
    font-size: 0.5rem;
    margin-bottom: 50px;
    &:first-child {
      background-color: $color-white;
      color: $color-primary;
    }
  }

  &:last-child {
    background-color: $color-white;
    color: $color-primary;
  }
}