.section-apple {
  width: 100%;
  height: 100vh;
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 53% 100%, 0% 100%);
  position: relative;

  &__banner {
    flex-direction: column;
    @include md {
      position: absolute;
      top: 0;
      bottom: -20px;
    }
  }

  &__title {
    font-weight: 300;
    text-transform: uppercase;

    @include ul-min {
      font-size: 130px;
      letter-spacing: 8px;
    }

    @include ul-xl {
      font-size: 90px;
      letter-spacing: 6px;
    }

    @include xl-lg {
      font-size: 80px;
      letter-spacing: 6px;
    }
    @include lg-md {
      font-size: 68px;
      letter-spacing: 5px;
    }

    @include md-xs {
      font-size: 68px;
      position: relative;
      left: -15px;


      &::first-letter {
        visibility: hidden;
        opacity: 0;
      }
    }

    @include xs {
      font-size: 50px;
      position: relative;
      left: -15px;

      &::first-letter {
        visibility: hidden;
        opacity: 0;
        
      }
    }
  }

  &__text {
    font-weight: 400;

    @include ul-min {
      font-size: 40px;
      letter-spacing: 1px;
      margin: 64px 0 40px 0;
    }

    @include ul-xl {
      font-size: 35px;
      letter-spacing: 1px;
      margin: 54px 0 30px 0;
    }

    @include xl-lg {
      font-size: 30px;
      letter-spacing: 1px;
      margin: 44px 0 30px 0;
    }
    @include lg-xs {
      font-size: 22px;
      letter-spacing: 1px;
      margin: 44px 0 30px 0;
    }

    @include xs {
      font-size: 17px;
      margin: 40px 0 20px 0;
    }
  }

  &__name {

    @include ul-min {
      font-size: 30px;
      margin-bottom: 48px;
    }

    @include ul-lg {
      font-size: 25px;
      margin-bottom: 38px;
    }
    @include lg-md {
      font-size: 22px;
      margin-bottom: 38px;
    }

    @include md-sm {
      font-size: 18px;
      margin-bottom: 35px;
    }

    @include sm {
      font-size: 16px;
      margin-bottom: 33px;
    }
  }

  &__btn {
    background-color: $color-black;
    color: $color-primary;
    letter-spacing: 1px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    clip-path: polygon(50% 0%, 81% 5%, 100% 0, 100% 100%, 80% 95%, 50% 100%, 20% 95%, 0 100%, 0 0, 23% 5%);
    transition: clip-path 0.5s;

    @include ul-min {
      padding: 20px 40px;
      font-size: 20px;
    }

    @include ul-lg {
      padding: 18px 35px;
      font-size: 17px;
    }
    @include lg-md {
      padding: 18px 35px;
      font-size: 15px;
    }
    @include md-xs {
      padding: 15px 33px;
      font-size: 15px;
    }

    @include xs {
      padding: 12px 30px;
      font-size: 15px;
    }

    &:hover {
      clip-path: polygon(40% 15%, 77% 15%, 100% 10%, 100% 90%, 75% 85%, 40% 85%, 30% 100%, 0 50%, 0 50%, 30% 0);
    }
  }

  &__slideshow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    & div {
      width: 100%;
      height: 100%;
      position: absolute;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 5s;

      &.change {
        opacity: 1;
      }
    }
  }
}

.logo {
  position: absolute;
  
  @include xxl-min {
    top: 30px;
    left: 30px;
  }

  @include xxl-ul {
    top: 20px;
    left: 30px;
  }

  @include ul-md {
    top: 0;
    left: 30px;
  }

  @include md-xs {
    top: 0;
    left: 10px;
  }

  @include xs {
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }

  & i {
    
    color: rgba(0, 0, 0, 0.8);

    @include xxl-min {
      font-size: 100px;
    }
    @include xxl-ul {
      font-size: 90px;
    }
  
    @include ul-lg {
      font-size: 80px;
    }

    @include lg-md {
      font-size: 70px;
    }

    @include md-xs {
      font-size: 60px;
    }

    @include xs {
      font-size: 50px;
    }
  }
}


.navbar {
  position: absolute;

  @include lg-min {
    right: 10%;
    top: 30px;
  }

  @include lg-md {
    right: 2%;
    top: 20px;
  }

  @include md-xs {
    right: 2%;
    top: 20px;
  }
  @include xs {
    right: 2%;
    top: 15px;
  }

  &-link {
    display: inline-block;
    color: $color-black;
    transition: transform 0.5s;

    @include xl-min {
      font-size: 20px;
      margin: 0 39px;
    }

    @include xl-lg {
      font-weight: 700;
      font-size: 17px;
      margin: 0 35px;
    }

    @include lg-md {
      font-weight: 700;
      font-size: 15px;
      margin: 0 30px;
    }

    @include md-sm {
      font-weight: 700;
      font-size: 13px;
      margin: 0 25px;
    }

    @include sm-xs {
      font-weight: 700;
      font-size: 13px;
      margin: 0 18px;
    }

    @include xs {
      font-weight: 700;
      font-size: 11px;
      margin: 0 12px;
    }

    &:hover {
      transform: scale(1.5);
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube-wrapper {
  perspective: 1000px;
  @include md-sm {
    opacity: 0.7;
  }

  @include sm-xs {
    opacity: 0.7;
    position: absolute;
    top: 200px;
    bottom: 0;
  }

  @include xs {
    opacity: 0.7;
    position: absolute;
    top: 140px;
    bottom: 0;
  }
}

.cube {
  
  background-color: $color-white;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(20deg) rotateZ(0deg);
  position: relative;
  top: -32px;
  transition: transform 0.5s;

  @include ul-min {
    width: 300px;
    height: 550px;
  }

  @include ul-lg {
    width: 280px;
    height: 550px;
  }

  @include lg-xs {
    width: 230px;
    height: 480px;
  }

  @include xs {
    width: 190px;
    height: 440px;
  }
}

.front-side {
  width: 100%;
  height: 100%;
  padding: 25px;
  background-color: #fee;
  transform: translateZ(50px);
  position: absolute;
  transform-style: preserve-3d;
  box-shadow: inset 1px 1px 1px #ddd, inset -1px -1px 1px #ddd;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 130px;
    background-color: #fee;
    position: absolute;
    box-shadow: inset 1px 1px 1px #ddd, inset -1px -1px 1px #ddd;
  }

  &::before {
    top: 0;
    left: 0;
    transform: rotateX(-90deg);
    transform-origin: top;
  }

  &::after {
    bottom: 0;
    left: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.back-side {
  width: 100%;
  height: 100%;
  background-color: #fee;
  transform: translateZ(-80px);
  position: absolute;
  transform-style: preserve-3d;
  box-shadow: inset 1px 1px 1px #ddd, inset -1px -1px 1px #ddd;

  &::before,
  &::after {
    content: "iPhone";
    width: 130px;
    height: 100%;
    background-color: #fee;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 300;
    color: #ec1919;
    box-shadow: inset 1.6px 1.6px 1.6px #ddd, inset -1.6px -1.6px 1.6px #ddd;
  }

  &::before {
    top: 0;
    left: 0;
    transform: rotateY(-90deg);
    transform-origin: left;
  }

  &::after {
    top: 0;
    right: 0;
    transform: rotateY(90deg);
    transform-origin: right;
  }

  & i {
    color: $color-primary;
    text-shadow: (1.6px 1.6px 3.2px #aaa, -1.6px -1.6px 3.2px #aaa);
    transform: rotateY(180deg);

    @include ul-min {
      font-size: 10rem;
    }

    @include ul-md {
      font-size: 8rem;
    }

    @include md {
      font-size: 7rem;
    }
  }
}

.controls {
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 0, 0.8);

  @include md {
    display: none;
  }

  &__link {
    position: absolute;

    &:hover {
      & i {
        opacity: 1;
      }
    }

    &:nth-child(1) {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &:nth-child(2) {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &:nth-child(3) {
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(4) {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(5) {
      top: 10%;
      right: 10%;
      transform: rotate(45deg);
    }
    
    &:nth-child(6) {
      bottom: 10%;
      left: 10%;
      transform: rotate(45deg);
    }

  }

  & i {
    
    color: $color-primary;
    opacity: 0.5;
    transition: opacity 0.5s;

    @include ul-min {
      font-size: 15px;
    }
  
    @include ul{
      font-size: 12px;
    }
  }
}